<!DOCTYPE html>
<!-- src/main/resources/templates/home.html -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/libs/tailwind :: tailwind}"/>
    <th:block th:insert="~{fragments/libs/vue :: vue}"/>
    <th:block th:replace="~{fragments/headers/head :: head(pageTitle=${pageTitle})}" />
</head>

<body>
<div th:insert="fragments/headers/header :: header" th:with="pageTitle='Home page'"></div>

<main class="container mx-auto p-8">
    <p th:text="${message}" class="text-lg font-semibold text-blue-600">Testo di default</p>
    <div id="app" class="mt-4 p-4 bg-gray-200 rounded-lg">
        <p class="text-lg font-semibold text-green-600">{{ vueMessage }}</p>
        <p class="text-lg font-semibold text-red-600">{{ tailwindMessage }}</p>
        <button @click="changeMessage" class="mt-2 px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-700">
            Cambia Messaggio
        </button>
    </div>
</main>

<div th:insert="fragments/footer :: footer"></div>
<th:block th:insert="~{fragments/scripts/hello-button :: hello-button}"/>
</body>
</html>